.navbar {
    background-color: #222;
    text-align: center;
    transition: all 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 1000;
    scroll-behavior: smooth;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #ff4500;
}

.scrollToTop {
    display: inline-block;
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 20px; /* Espacio entre los elementos */
    transition: color 0.3s ease; /* Agrega una transición de color suave */
}

.scrollToTop:hover {
    color: #ff4500;
}

html {
    scroll-behavior: smooth;
}
